

.navbar-nav li{
    font-size:2.5rem;
}
.navbar{
    box-shadow: 1px -8px 10px black;
    padding: .5rem .5rem!important;
    height:60px;
    
}
.nav-item{
    margin-right: 10%;
}
.navbar-toggler{
    font-size: 2.25rem!important;

}
.navbar__right{
    display: flex;
    margin-right: 2%;
}
.navbar__right-item{
    font-size: 2rem;
}
.navbar__right-account{
    display: flex;
    align-items: center;
    margin-right:14px;
}
.navbar_acc{
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 8px;
}
.fa-shopping-cart{
    position: relative;
}
.fa-shopping-cart::after{
    content: "5";
    position: absolute;
    font-size: 17px;
   
    width: 22px;
    height: 22px;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    top: -50%;
    right: -50%;
    background-color: #b32824;
    color: white;
    border-radius: 50%;

}
@media (max-width: 768px){
    .navbar{
        height:auto;
    }
}



.col-men{
    width: 304px;
}





.admin__imgs{
    color:white;
    font-size: 2.4rem;
    position: absolute;
		  left: 50%;
		  top: 50%;
		  transform: translate(-50%, -50%);
}
.admin__options-img{
   
    position: relative;
    
    letter-spacing: 1px;
    width:100%;
    height:100px;
    background-image: url(https://images.pexels.com/photos/2486168/pexels-photo-2486168.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
.admin__options{

}